$w:100%;
$h:100%;
//    $imgName: 이미지명
//    $position: left,left-top,left-bottom,left-center,right,right-top,right-bottom,right-center,top,center,center-top,center-bottom,self;
//    $size: 백그라운드 사이즈
//    $imgType: 이미지 확장자명
@mixin bg($imgName, $position: left, $size: contain, $imgType: png) {
    background-image: url(../images/#{$imgName}.#{$imgType});
    @if $position==left {
        background-repeat: no-repeat;
        background-position: 0 50%;
    }
    @else if $position==left-top {
        background-repeat: no-repeat;
        background-position: 0 0;
    }
    @else if $position==left-bottom {
        background-repeat: no-repeat;
        background-position: 0 100%;
    }
    @else if $position==left-center {
        background-repeat: no-repeat;
        background-position: 0 50%;
    }
    @else if $position==right {
        background-repeat: no-repeat;
        background-position: 100% 50%;
    }
    @else if $position==right-top {
        background-repeat: no-repeat;
        background-position: 100% 0;
    }
    @else if $position==right-bottom {
        background-repeat: no-repeat;
        background-position: 100% 100%;
    }
    @else if $position==right-center {
        background-repeat: no-repeat;
        background-position: 100% 50%;
    }
    @else if $position==top {
        background-repeat: no-repeat;
        background-position: 50% 0;
    }
    @else if $position==center {
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    @else if $position==center-top {
        background-repeat: no-repeat;
        background-position: 50% 0;
    }
    @else if $position==center-bottom {
        background-repeat: no-repeat;
        background-position: 50% 100%;
    }
    @else {
        background-position: $position;
        background-repeat: no-repeat;
    }
    background-size: $size;
    @content;
}

@function color($color: #000, $opacity: 1) {
    @return rgba($color, $opacity);
}


/*
	$diff ->
	 피씨 1600
	 태블릿 1024
	 모바일 큼 768
	 모바일 중간 640
	 모바일 작음 480


*/

@mixin media($diff: pc-large) {
    @if $diff==pc-large {
        @media screen and (max-width: rem(1600)) {
            @content;
        }
    }
    @else if $diff==pc-medium {
        @media screen and (max-width: rem(1560)) {
            @content;
        }
    }
    @else if $diff==pc-small {
        @media screen and (max-width: rem(1440)) {
            @content;
        }
    }
    @else if $diff==pc-little {
        @media screen and (max-width: rem(1370)) {
            @content;
        }
    }
    @else if $diff==pc-little-type02 {
        @media screen and (max-width: rem(1170)) {
            @content;
        }
    }
    @else if $diff==tablet {
        @media screen and (max-width: rem(1200)) {
            @content;
        }
    }
    @else if $diff==mobile-large {
        @media screen and (max-width: rem(750)) {
            @content;
        }
    }
    @else if $diff==mobile-medium {
        @media screen and (max-width: rem(480)) {
            @content;
        }
    }
    @else if $diff==mobile-small {
        @media screen and (max-width: rem(375)) {
            @content;
        }
    }
}

@function rem($units, $digit: 4, $base: 16) {
    @return decimal-round(($units / $base), $digit)+unquote("rem");
}

@function decimal-round($number, $digits: 0, $mode: round) {
    $n: 1;
    // $number must be a number
    @if type-of($number) !=number {
        @warn '#{ $number } is not a number.';
        @return $number;
    }
    // $digits must be a unitless number
    @if type-of($digits) !=number {
        @warn '#{ $digits } is not a number.';
        @return $number;
    }
    @else if not unitless($digits) {
        @warn '#{ $digits } has a unit.';
        @return $number;
    }
    @if $digits>0 {
        @for $i from 1 through $digits {
            $n: $n * 10;
        }
    }
    @if $mode==round {
        @return round($number * $n) / $n;
    }
    @else if $mode==ceil {
        @return ceil($number * $n) / $n;
    }
    @else if $mode==floor {
        @return floor($number * $n) / $n;
    }
    @else {
        @warn '#{ $mode } is undefined keyword.';
        @return $number;
    }
}

// 반복문
@for $i from 1 through 10 {
    .text-#{$i} {
        font-size: 4rem $i
    }
}

@mixin shadow($size:18px 18px 40px 0px, $color:rgba(0, 0, 0, 0.25)) {
    box-shadow: $size $color;
}