html,
body,
div,
p,
input,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: "notosans", sans-serif;
    font-weight: 400;
    line-height: 1;
    box-sizing: border-box;
}

ul,
ol,
dl,
li,
dt,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

input,
button,
textarea {
    background: none;
    border: none;
    font-size: 100%;
    font-family: "notosans", sans-serif;
}

textarea {
    resize: none;
}