@charset "UTF-8";
html,
body,
div,
p,
input,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "notosans", sans-serif;
  font-weight: 400;
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol,
dl,
li,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

input,
button,
textarea {
  background: none;
  border: none;
  font-size: 100%;
  font-family: "notosans", sans-serif;
}

textarea {
  resize: none;
}

/*
	$diff ->
	 피씨 1600
	 태블릿 1024
	 모바일 큼 768
	 모바일 중간 640
	 모바일 작음 480


*/
.text-1 {
  font-size: 4rem 1;
}

.text-2 {
  font-size: 4rem 2;
}

.text-3 {
  font-size: 4rem 3;
}

.text-4 {
  font-size: 4rem 4;
}

.text-5 {
  font-size: 4rem 5;
}

.text-6 {
  font-size: 4rem 6;
}

.text-7 {
  font-size: 4rem 7;
}

.text-8 {
  font-size: 4rem 8;
}

.text-9 {
  font-size: 4rem 9;
}

.text-10 {
  font-size: 4rem 10;
}

@font-face {
  font-family: "notosans";
  src: url("../fonts/scdream100.otf") format("otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "notosans";
  src: url("../fonts/scdream200.otf") format("otf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "notosans";
  src: url("../fonts/scdream300.otf") format("otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "notosans";
  src: url("../fonts/scdream400.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "notosans";
  src: url("../fonts/scdream500.otf") format("otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "notosans";
  src: url("../fonts/scdream600.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "notosans";
  src: url("../fonts/scdream700.otf") format("otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "notosans";
  src: url("../fonts/scdream800.otf") format("otf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "notosans";
  src: url("../fonts/scdream900.otf") format("otf");
  font-weight: 900;
  font-style: normal;
}

.btn {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 7px 9px;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  max-height: 50px;
  padding: 11px 0 10px;
  background-color: #f8f8f8;
  -webkit-box-shadow: inset 0.125rem -0.375rem 1.5625rem 0 rgba(0, 0, 0, 0.18);
          box-shadow: inset 0.125rem -0.375rem 1.5625rem 0 rgba(0, 0, 0, 0.18);
}

.header-wrapper .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

@media screen and (max-width: 46.875rem) {
  .header-wrapper .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header-wrapper .header .logo-title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.875rem;
  letter-spacing: -0.8px;
  margin-left: 0.5rem;
}

.container-wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1720px;
  padding: 0 60px;
}

@media screen and (max-width: 75rem) {
  .container-wrapper {
    padding: 0;
  }
}

.container-wrapper .wide {
  max-width: none;
}

.footer-wrapper {
  width: 100%;
  margin-top: auto;
  padding: 16px 0;
  text-align: center;
  background-color: #404040;
}

@media screen and (max-width: 75rem) {
  .footer-wrapper {
    margin-top: auto;
  }
}

.footer-wrapper .copyright {
  font-size: 12px;
  line-height: 18px;
  color: white;
}

.main .container-wrapper {
  padding-top: 15.9375rem;
  padding-bottom: 20rem;
}

@media screen and (max-width: 75rem) {
  .main .container-wrapper {
    padding-top: 7.5rem;
    padding-bottom: 10rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media screen and (max-width: 46.875rem) {
  .main .container-wrapper {
    padding: 3.125rem 0;
  }
}

.main .sub {
  padding: 0;
}

.box-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box-wrapper .box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (max-width: 75rem) {
  .box-wrapper .box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.box-wrapper .box .site-box {
  -webkit-box-shadow: 18px 18px 40px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 18px 18px 40px 0px rgba(0, 0, 0, 0.25);
}

.box-wrapper .box .mobile-box {
  position: absolute;
  left: calc(50% - 95px);
  z-index: 1;
}

@media screen and (max-width: 75rem) {
  .box-wrapper .box .mobile-box {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 3.125rem;
  }
}

.box-wrapper .box .mobile-box > a {
  position: relative;
  display: block;
  width: 10.3125rem;
  height: auto;
  padding: 2.4375rem 0.5rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: 1.4375rem;
  -webkit-box-shadow: 19px 13px 26px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 19px 13px 26px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 97.5rem) {
  .box-wrapper .box .mobile-box > a {
    bottom: calc(50% - rem(186));
    width: 11.625rem;
  }
}

@media screen and (max-width: 90rem) {
  .box-wrapper .box .mobile-box > a {
    width: 10.375rem;
  }
}

@media screen and (max-width: 85.625rem) {
  .box-wrapper .box .mobile-box > a {
    width: 9.125rem;
  }
}

@media screen and (max-width: 73.125rem) {
  .box-wrapper .box .mobile-box > a {
    width: 8.5rem;
  }
}

@media screen and (max-width: 73.125rem) {
  .box-wrapper .box .mobile-box > a {
    width: 8.5rem;
  }
}

@media screen and (max-width: 75rem) {
  .box-wrapper .box .mobile-box > a {
    width: 50%;
  }
}

.box-wrapper .box .mobile-box > a::before {
  content: "";
  position: absolute;
  top: 21px;
  left: calc(50% - 20px);
  display: inline-block;
  width: 2.5rem;
  height: 0.3125rem;
  background-color: rgba(64, 64, 64, 0.87);
  border-radius: 10px;
}

.box-wrapper .box .mobile-box > a > img {
  width: 100%;
  height: auto;
  border: 1px solid rgba(197, 197, 197, 0.33);
}

.box-wrapper .box + .box {
  margin-top: 320px;
}

@media screen and (max-width: 75rem) {
  .box-wrapper .box + .box {
    margin-top: 15%;
  }
}

@media screen and (max-width: 46.875rem) {
  .box-wrapper .box + .box {
    margin-top: 5.625rem;
    padding-top: 3.125rem;
  }
}

@media screen and (max-width: 46.875rem) {
  .box-wrapper .box + .box:before {
    display: block;
    content: "";
    height: 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(99, 99, 99, 0.23)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(to bottom, rgba(99, 99, 99, 0.23), rgba(255, 255, 255, 0));
  }
}

.box-wrapper .box.left .info-box {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  padding-left: 140px;
  padding-right: 130px;
}

@media screen and (max-width: 75rem) {
  .box-wrapper .box.left .info-box {
    padding: 0;
    text-align: center;
  }
}

.box-wrapper .box.left .site-box {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (max-width: 75rem) {
  .box-wrapper .box.left .site-box {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

@media screen and (max-width: 46.875rem) {
  .box-wrapper .box.left .site-box {
    -webkit-box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.25);
  }
}

.box-wrapper .box.left .site-box .pic {
  -webkit-box-shadow: 18px 18px 40px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 18px 18px 40px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 46.875rem) {
  .box-wrapper .box.left .site-box .pic {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.box-wrapper .box.right .info-box {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding-left: 245px;
  padding-right: 70px;
}

@media screen and (max-width: 75rem) {
  .box-wrapper .box.right .info-box {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    padding: 0;
    text-align: center;
  }
}

.box-wrapper .box.right .site-box {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

@media screen and (max-width: 46.875rem) {
  .box-wrapper .box.right .site-box {
    -webkit-box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.25);
  }
}

.box-wrapper .box.right .site-box .pic {
  -webkit-box-shadow: -18px 18px 40px 0px rgba(0, 0, 0, 0.25);
          box-shadow: -18px 18px 40px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

@media screen and (max-width: 46.875rem) {
  .box-wrapper .box.right .site-box .pic {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.sub {
  -webkit-box-shadow: 18px 18px 40px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 18px 18px 40px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 46.875rem) {
  .sub.fix .header-wrapper {
    position: fixed;
    top: 0;
  }
}

.sub.fix .footer-wrapper {
  margin-top: 3.125rem;
}

@media screen and (max-width: 46.875rem) {
  .sub.fix .footer-wrapper {
    position: fixed;
    bottom: 0;
  }
}

@media screen and (max-width: 46.875rem) {
  .sub.fix .container-wrapper {
    padding: 50px 0;
  }
}

.sub .container-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: none;
  padding: 0;
}

.sub .container-wrapper.wide .contents-box .site-box {
  max-width: 100%;
}

.sub .container-wrapper .info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  min-height: 241px;
  padding: 44px 0;
  -webkit-box-shadow: 12px 11px 40px 0px rgba(64, 64, 64, 0.18);
          box-shadow: 12px 11px 40px 0px rgba(64, 64, 64, 0.18);
}

@media screen and (max-width: 46.875rem) {
  .sub .container-wrapper .info-box {
    max-height: none;
  }
}

.sub .container-wrapper .info-box .title {
  margin-bottom: 0.9375rem;
  font-size: 2.125rem;
  line-height: 2.25rem;
}

.sub .container-wrapper .info-box .w-1600 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.sub .container-wrapper .info-box .w-1600 .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1.6875rem;
  height: 3.1875rem;
}

.sub .container-wrapper .info-box .w-1600 .info-con-box {
  margin: 0 auto;
  text-align: center;
}

.sub .contents-box {
  width: 100%;
  margin-top: 50px;
}

.sub .contents-box .site-box {
  display: block;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.sub .contents-box .site-box > img {
  width: 100%;
  -webkit-box-shadow: 8px 15px 20px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 8px 15px 20px 0px rgba(0, 0, 0, 0.25);
}

.sub .contents-box .site-box > img + img {
  margin-top: 3.125rem;
}

.info-box {
  width: calc(100% / 2);
  padding-left: 140px;
}

@media screen and (max-width: 75rem) {
  .info-box {
    width: 100%;
    margin-bottom: 4rem;
  }
}

.info-box .thumbnail {
  color: #727272;
  font-size: 12px;
}

@media screen and (max-width: 46.875rem) {
  .info-box .thumbnail {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

.info-box .thumbnail > div {
  line-height: 24px;
}

.info-box .thumbnail .web::before {
  content: "WEB UI";
  display: inline-block;
}

.info-box .thumbnail .mo::before {
  content: "MOBILE UI";
  display: inline-block;
}

.info-box .title {
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
  color: black;
}

@media screen and (max-width: 46.875rem) {
  .info-box .title {
    font-size: 3rem;
    line-height: 4.25rem;
  }
}

.info-box .data,
.info-box .work,
.info-box .customer {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #727272;
}

@media screen and (max-width: 46.875rem) {
  .info-box .data,
  .info-box .work,
  .info-box .customer {
    font-size: 1.5rem;
    line-height: 1.9375rem;
  }
}

.info-box .btn.view {
  height: 3.25rem;
  min-width: 189px;
  margin-top: 25px;
  text-align: center;
  color: white;
  background-color: black;
}

@media screen and (max-width: 46.875rem) {
  .info-box .btn.view {
    height: 3.4375rem;
    min-width: calc(100% / 3);
  }
}

.info-box .btn.view > span {
  display: inline-block;
  height: auto;
  padding: 12px 8px;
  vertical-align: middle;
  font-size: 0.6875rem;
  letter-spacing: 2px;
  line-height: 14px;
}

@media screen and (max-width: 46.875rem) {
  .info-box .btn.view > span {
    font-size: 1.25rem;
  }
}

.site-box {
  position: relative;
  width: calc(100% / 2);
  height: auto;
}

@media screen and (max-width: 75rem) {
  .site-box {
    width: 100%;
    margin-bottom: 4rem;
  }
}

.site-box .pic {
  height: 100%;
}

.site-box .pic > img {
  display: block;
  height: 100%;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */