@charset 'utf-8';
@import "reset";
@import "mixins";
@import "fonts";
// body {
//     width: $w;
//     height: 100%;
// }
// button
.btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 7px 9px;
}

.wrap {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    width: $w;
    min-height: 100vh;
}

.header-wrapper {
    display: flex;
    justify-content: center;
    width: $w;
    height: $h;
    max-height: 50px;
    padding: 11px 0 10px;
    background-color: #f8f8f8;
    @include shadow(inset rem(2) rem(-6) rem(25) 0, rgba(0, 0, 0, 0.18));
    .header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: $w;
        max-width: 1600px;
        margin: 0 auto;
        @include media(mobile-large) {
            justify-content: center;
        }
        .logo-title {
            font: {
                size: rem(24);
                weight: 600;
            }
            line-height: rem(30);
            letter-spacing: -0.8px;
            margin-left: rem(8);
        }
    }
}

.container-wrapper {
    width: $w;
    margin: 0 auto;
    max-width: 1720px;
    padding: 0 60px;
    @include media(tablet) {
        padding: 0;
    }
    .wide {
        max-width: none;
    }
}

.footer-wrapper {
    width: $w;
    margin-top: auto;
    padding: 16px 0;
    text-align: center;
    background-color: color(#404040);
    @include media(tablet) {
        margin-top: auto;
    }
    .copyright {
        font-size: 12px;
        line-height: 18px;
        color: color(#fff);
    }
}

.main {
    .container-wrapper {
        padding: {
            top: rem(255);
            bottom: rem(320);
        }
        @include media(tablet) {
            padding: {
                top: rem(120);
                bottom: rem(160);
                left: rem(40);
                right: rem(40);
            }
        }
        @include media(mobile-large) {
            padding: rem(50) 0;
        }
    }
    .sub {
        padding: 0;
    }
}

// 메인페이지
.box-wrapper {
    display: flex;
    flex: {
        direction: column;
        wrap: wrap;
    }
    .box {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        @include media(tablet) {
            flex-wrap: wrap;
            flex-direction: column;
        }
        .site-box {
            @include shadow();
        }
        .mobile-box {
            position: absolute;
            left: calc(50% - 95px);
            z-index: 1;
            @include media(tablet) {
                position: static;
                display: flex;
                justify-content: center;
                margin-top: rem(50);
            }
            >a {
                position: relative;
                display: block;
                width: rem(165);
                height: auto;
                padding: rem(39) rem(8);
                background-color: #fff;
                border: 1px solid rgba(0, 0, 0, 0.04);
                border-radius: rem(23);
                @include shadow(19px 13px 26px 0px, rgba(0, 0, 0, 0.25));
                @include media(pc-medium) {
                    bottom: calc(50% - rem(186));
                    width: rem(186);
                }
                @include media(pc-small) {
                    width: rem(166);
                }
                @include media(pc-little) {
                    width: rem(146);
                }
                @include media(pc-little-type02) {
                    width: rem(136);
                }
                @include media(pc-little-type02) {
                    width: rem(136);
                }
                @include media(tablet) {
                    width: 50%;
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 21px;
                    left: calc(50% - 20px);
                    display: inline-block;
                    width: rem(40);
                    height: rem(5);
                    background-color: rgba(64, 64, 64, 0.87);
                    border-radius: 10px;
                }
                >img {
                    width: 100%;
                    height: auto;
                    border: 1px solid rgba(197, 197, 197, 0.33);
                }
            }
        }
        &+.box {
            margin-top: 320px;
            @include media(tablet) {
                margin-top: 15%;
            }
            @include media(mobile-large) {
                margin-top: rem(90);
                padding-top: rem(50);
            }
            &:before {
                @include media(mobile-large) {
                    display: block;
                    content: "";
                    height: 30px;
                    background: linear-gradient(to bottom, rgba(99, 99, 99, 0.23), rgba(255, 255, 255, 0));
                }
            }
        }
        &.left {
            .info-box {
                order: 0;
                padding: {
                    left: 140px;
                    right: 130px;
                }
                @include media(tablet) {
                    padding: 0;
                    text-align: center;
                }
            }
            .site-box {
                order: 1;
                @include media(tablet) {
                    order: 0;
                }
                @include media(mobile-large) {
                    @include shadow(0px -5px 40px 0px, rgba(0, 0, 0, 0.25));
                }
                .pic {
                    @include shadow();
                    @include media(mobile-large) {
                        box-shadow: none;
                    }
                }
            }
        }
        &.right {
            .info-box {
                order: 1;
                padding: {
                    left: 245px;
                    right: 70px;
                }
                @include media(tablet) {
                    order: 0;
                    padding: 0;
                    text-align: center;
                }
            }
            .site-box {
                order: 0;
                @include media(mobile-large) {
                    @include shadow(0px -5px 40px 0px, rgba(0, 0, 0, 0.25));
                }
                .pic {
                    @include shadow(-18px 18px 40px 0px, rgba(0, 0, 0, 0.25));
                    @include media(mobile-large) {
                        box-shadow: none;
                    }
                    order: 0;
                }
            }
        }
    }
}

// 서브페이지
.sub {
    &.fix {
        .header-wrapper {
            @include media(mobile-large) {
                position: fixed;
                top: 0;
            }
        }
        .footer-wrapper {
            margin-top: rem(50);
            @include media(mobile-large) {
                position: fixed;
                bottom: 0;
            }
        }
        .container-wrapper {
            @include media(mobile-large) {
                padding: 50px 0;
            }
        }
    }
    .container-wrapper {
        width: $w;
        height: $h;
        display: flex;
        flex-direction: column;
        max-width: none;
        padding: 0;
        &.wide {
            .contents-box {
                .site-box {
                    max-width: $w;
                }
            }
        }
        .info-box {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            width: $w;
            height: $h;
            min-height: 241px;
            padding: 44px 0;
            @include shadow(12px 11px 40px 0px, rgba(64, 64, 64, 0.18));
            @include media(mobile-large) {
                max-height: none;
            }
            .title {
                margin-bottom: rem(15);
                font-size: rem(34);
                line-height: rem(36);
            }
            .w-1600 {
                display: flex;
                align-items: center;
                width: $w;
                max-width: 1600px;
                margin: 0 auto;
                .home {
                    display: flex;
                    width: rem(27);
                    height: rem(51);
                }
                .info-con-box {
                    margin: 0 auto;
                    text-align: center;
                }
            }
        }
    }
    .contents-box {
        width: $w;
        margin-top: 50px;
        .site-box {
            display: block;
            width: $w;
            max-width: 1600px;
            margin: 0 auto;
            >img {
                width: $w;
                @include shadow(8px 15px 20px 0px, rgba(0, 0, 0, 0.25));
                &+img {
                    margin-top: rem(50)
                }
            }
        }
    }
    @include shadow();
}

// 컨텐츠
.info-box {
    width: calc(100% / 2);
    padding-left: 140px;
    @include media(tablet) {
        width: $w;
        margin-bottom: rem(64);
    }
    .thumbnail {
        color: color(#727272);
        font-size: 12px;
        @include media(mobile-large) {
            font-size: rem(20);
            line-height: rem(24);
        }
        >div {
            line-height: 24px;
        }
        .web {
            &::before {
                content: "WEB UI";
                display: inline-block;
            }
        }
        .mo {
            &::before {
                content: "MOBILE UI";
                display: inline-block;
            }
        }
    }
    .title {
        margin-bottom: 25px;
        font: {
            size: 30px;
            weight: 600;
        }
        line-height: 32px;
        color: color(#000);
        @include media(mobile-large) {
            font-size: rem(48);
            line-height: rem(68);
        }
    }
    .data,
    .work,
    .customer {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        color: color(#727272);
        @include media(mobile-large) {
            font-size: rem(24);
            line-height: rem(31);
        }
    }
    .btn {
        &.view {
            height: rem(52);
            min-width: 189px;
            margin-top: 25px;
            text-align: center;
            color: color(#fff);
            background-color: color(#000);
            @include media(mobile-large) {
                height: rem(55);
                min-width: calc(100% / 3);
            }
            >span {
                display: inline-block;
                height: auto;
                padding: 12px 8px;
                vertical-align: middle;
                font-size: rem(11);
                letter-spacing: 2px;
                line-height: 14px;
                @include media(mobile-large) {
                    font-size: rem(20);
                }
            }
        }
    }
}

.site-box {
    position: relative;
    width: calc(100% / 2);
    height: auto;
    @include media(tablet) {
        width: $w;
        margin-bottom: rem(64);
    }
    .pic {
        height: $h;
        >img {
            display: block;
            ;
            height: $h;
            width: $w;
        }
    }
}